@import 'variables';
.about_main {
    margin: 50px 5px;
    background-color: $widget-background-color;
    border-radius: 9px;
    padding: 30px;
}
.about_title {
    text-align: center;
    padding: 10px;
}
.about_description {
    text-align: justify;
}

.about_contacts {
    width: 230px;
}

.about_contacts a {
    text-decoration: none;
    color: $link-color;
}

.about_contacts li {
    list-style-type: none;
    color: $link-color;
}

.about_contacts li:hover {
    padding: 0 10px;
    color: $link-color;
    box-shadow: $box-shadow;
    transform: scale(1.05);
    border-radius: 9px;
    transition: 0.3s;
}

@media (max-width: 1080px) {
    .about_main {
        font-size: 0.8em;
    }
}